In [1]:
from diviner import calib
from diviner import file_utils as fu

## first the melting itself

In [7]:
def rename_column(colname):
    dealwith = '_'.join(colname.split('_')[1:])
    if int(dealwith[0]) in range(1,7):
        return 'a'+dealwith
    else:
        return 'b'+dealwith

In [36]:
def merge_rdr_column(target_df, colstring, rdrr):
    coldata = rdrr.filter(regex='^'+colstring)
    coldata = coldata.rename(columns=rename_column)
    molten = pd.melt(coldata.reset_index(),
                     id_vars=['index'],
                     var_name='det',
                     value_name=colstring)
    return target_df.merge(molten, on=['index','det'])

In [38]:
import os
root = '/raid1/maye/coldregions/no_rad_correction/region1'
rdr_columns = ['clat','clon']
for rad_file in rad_files[:1]:
    tstr = fu.get_timestr(rad_file)
    rad = pd.read_hdf(rad_file, 'radiance')
    tb = pd.read_hdf(os.path.join(root, tstr+'_tb.h5'), 'tb')
    tindex = fu.fname_to_tindex(rad_file)
    rad = rad[calib.thermal_detectors][tindex]
    tb = tb[calib.thermal_detectors][tindex]
    molten_rad = pd.melt(rad.reset_index(), id_vars=['index'], var_name='det',
                         value_name='radiance')
    molten_tb = pd.melt(tb.reset_index(), id_vars=['index'], var_name='det',
                        value_name='tb')
    # molten_rad.sort(columns=['index'], inplace=True)
    # molten_tb.sort(columns=['index'], inplace=True)
    radtb = molten_tb.merge(molten_rad, on=['index','det'])
    
    # get old rdr data
    rdrr = fu.RDRR_Reader(tstr).open()
    for col in rdr_columns:
        radtb = merge_rdr_column(radtb, col, rdrr)

In [39]:
jdate = rdrr.filter(regex='jdate')

In [41]:
jdate.sort_index().head(

                                     jdate
2009-07-08 08:00:00.053000  2455020.833334
2009-07-08 08:00:00.181000  2455020.833335
2009-07-08 08:00:00.309000  2455020.833337
2009-07-08 08:00:00.437000  2455020.833338
2009-07-08 08:00:00.563000  2455020.833340

[5 rows x 1 columns]

In [42]:
radtb.head()

                       index    det          tb  radiance      clat      clon
0 2009-07-08 08:00:00.053000  a3_01  230.474970  0.155516 -64.00552  73.15205
1 2009-07-08 08:00:00.181000  a3_01  236.284917  0.189423 -64.01242  73.15222
2 2009-07-08 08:00:00.309000  a3_01  236.135538  0.188481 -64.01933  73.15240
3 2009-07-08 08:00:00.437000  a3_01  224.855220  0.127260 -64.02624  73.15259
4 2009-07-08 08:00:00.563000  a3_01  206.155471  0.060387 -64.03309  73.15277

[5 rows x 6 columns]

In [45]:
radtb = radtb.merge(jdate.reset_index(), on=['index'])

In [46]:
radtb.head()

,index,det,tb,radiance,clat,clon,jdate
0,2009-07-08 08:00:00.053000,a3_01,230.474970,0.155516,-64.00552,73.15205,2455020.833334
1,2009-07-08 08:00:00.053000,a3_02,193.719911,0.033977,-64.00562,73.13978,2455020.833334
2,2009-07-08 08:00:00.053000,a3_03,194.339885,0.035027,-64.00571,73.12753,2455020.833334
3,2009-07-08 08:00:00.053000,a3_04,221.081573,0.110597,-64.00581,73.11439,2455020.833334
4,2009-07-08 08:00:00.053000,a3_05,223.849916,0.122647,-64.00592,73.10085,2455020.833334

In [49]:
reload(calib)

In [54]:
radtb['c'] = radtb.det.str[:2].map(calib.mcs_div_mapping)

In [56]:
radtb.tail()

,index,det,tb,radiance,clat,clon,jdate,c
2165431,2009-07-08 08:59:59.843000,a6_17,86.678675,0.001401,68.74474,252.86575,2455020.874998,6
2165432,2009-07-08 08:59:59.843000,a6_18,86.625016,0.001394,68.74448,252.92398,2455020.874998,6
2165433,2009-07-08 08:59:59.843000,a6_19,88.195254,0.001615,68.74421,252.98221,2455020.874998,6
2165434,2009-07-08 08:59:59.843000,a6_20,85.001098,0.001189,68.74395,253.03462,2455020.874998,6
2165435,2009-07-08 08:59:59.843000,a6_21,84.009621,0.001077,68.74368,253.08560,2455020.874998,6

In [60]:
radtb['det'] = radtb.det.str[-2:].astype('int')

In [61]:
radtb.head()

,index,det,tb,radiance,clat,clon,jdate,c
0,2009-07-08 08:00:00.053000,1,230.474970,0.155516,-64.00552,73.15205,2455020.833334,3
1,2009-07-08 08:00:00.053000,2,193.719911,0.033977,-64.00562,73.13978,2455020.833334,3
2,2009-07-08 08:00:00.053000,3,194.339885,0.035027,-64.00571,73.12753,2455020.833334,3
3,2009-07-08 08:00:00.053000,4,221.081573,0.110597,-64.00581,73.11439,2455020.833334,3
4,2009-07-08 08:00:00.053000,5,223.849916,0.122647,-64.00592,73.10085,2455020.833334,3

In [63]:
radtb.to_csv?

In [65]:
radtb.rename(columns={'index':'isotime'})

,isotime,det,tb,radiance,clat,clon,jdate,c
0,2009-07-08 08:00:00.053000,1,230.474970,0.155516,-64.00552,73.15205,2455020.833334,3
1,2009-07-08 08:00:00.053000,2,193.719911,0.033977,-64.00562,73.13978,2455020.833334,3
2,2009-07-08 08:00:00.053000,3,194.339885,0.035027,-64.00571,73.12753,2455020.833334,3
3,2009-07-08 08:00:00.053000,4,221.081573,0.110597,-64.00581,73.11439,2455020.833334,3
4,2009-07-08 08:00:00.053000,5,223.849916,0.122647,-64.00592,73.10085,2455020.833334,3
5,2009-07-08 08:00:00.053000,6,236.029305,0.187811,-64.00603,73.08730,2455020.833334,3
6,2009-07-08 08:00:00.053000,7,237.110412,0.194646,-64.00613,73.07377,2455020.833334,3
7,2009-07-08 08:00:00.053000,8,242.335474,0.230302,-64.00623,73.06064,2455020.833334,3
8,2009-07-08 08:00:00.053000,9,235.331605,0.183514,-64.00632,73.04839,2455020.833334,3
9,2009-07-08 08:00:00.053000,10,233.913044,0.174964,-64.00642,73.03526,2455020.833334,3
10,2009-07-08 08:00:00.053000,11,237.006967,0.193978,-64.00652,73.02173,2455020.833334,3
11,2009-07-08 08:00:00.053000,12,224.864597,0.127303,-64.00660,73.00989,2455020.833334,3
12,2009-07-08 08:00:00.053000,13,228.325739,0.144205,-64.00668,72.99763,2455020.833334,3
13,2009-07-08 08:00:00.053000,14,221.310187,0.111565,-64.00678,72.98410,2455020.833334,3
14,2009-07-08 08:00:00.053000,15,209.344284,0.069224,-64.00687,72.97097,2455020.833334,3
15,2009-07-08 08:00:00.053000,16,216.746127,0.093574,-64.00701,72.95872,2455020.833334,3
16,2009-07-08 08:00:00.053000,17,193.209218,0.033131,-64.00716,72.94519,2455020.833334,3
17,2009-07-08 08:00:00.053000,18,191.080354,0.029781,-64.00725,72.93205,2455020.833334,3
18,2009-07-08 08:00:00.053000,19,204.458615,0.056064,-64.00733,72.91851,2455020.833334,3
19,2009-07-08 08:00:00.053000,20,209.057794,0.068384,-64.00742,72.90585,2455020.833334,3
20,2009-07-08 08:00:00.053000,21,208.025019,0.065447,-64.00749,72.89311,2455020.833334,3
21,2009-07-08 08:00:00.053000,1,213.647846,0.095157,-64.02917,73.15220,2455020.833334,4
22,2009-07-08 08:00:00.053000,2,196.690280,0.047081,-64.02927,73.13945,2455020.833334,4
23,2009-07-08 08:00:00.053000,3,230.139936,0.170809,-64.02937,73.12678,2455020.833334,4
24,2009-07-08 08:00:00.053000,4,243.238979,0.256950,-64.02947,73.11363,2455020.833334,4
25,2009-07-08 08:00:00.053000,5,249.302747,0.305949,-64.02953,73.10136,2455020.833334,4
26,2009-07-08 08:00:00.053000,6,252.244722,0.331981,-64.02963,73.08822,2455020.833334,4
27,2009-07-08 08:00:00.053000,7,258.956986,0.397205,-64.02971,73.07507,2455020.833334,4
28,2009-07-08 08:00:00.053000,8,254.296259,0.351047,-64.02979,73.06281,2455020.833334,4
29,2009-07-08 08:00:00.053000,9,249.177163,0.304866,-64.02990,73.04927,2455020.833334,4
30,2009-07-08 08:00:00.053000,10,249.222177,0.305254,-64.03004,73.03701,2455020.833334,4
31,2009-07-08 08:00:00.053000,11,244.378621,0.265697,-64.03014,73.02374,2455020.833334,4
32,2009-07-08 08:00:00.053000,12,243.900893,0.261994,-64.03032,73.01074,2455020.833334,4
33,2009-07-08 08:00:00.053000,13,218.679482,0.114819,-64.03042,72.99760,2455020.833334,4
34,2009-07-08 08:00:00.053000,14,193.044294,0.039818,-64.03050,72.98493,2455020.833334,4
35,2009-07-08 08:00:00.053000,15,176.081777,0.016684,-64.03065,72.97268,2455020.833334,4
36,2009-07-08 08:00:00.053000,16,175.709245,0.016340,-64.03080,72.95954,2455020.833334,4
37,2009-07-08 08:00:00.053000,17,172.165124,0.013321,-64.03097,72.94728,2455020.833334,4
38,2009-07-08 08:00:00.053000,18,169.937995,0.011665,-64.03106,72.93414,2455020.833334,4
39,2009-07-08 08:00:00.053000,19,175.010298,0.015702,-64.03114,72.92099,2455020.833334,4
40,2009-07-08 08:00:00.053000,20,166.340151,0.009347,-64.03123,72.90872,2455020.833334,4
41,2009-07-08 08:00:00.053000,21,174.319398,0.015098,-64.03131,72.89557,2455020.833334,4
42,2009-07-08 08:00:00.053000,1,214.369134,0.105361,-64.05169,73.15359,2455020.833334,5
43,2009-07-08 08:00:00.053000,2,222.617096,0.141055,-64.05180,73.14036,2455020.833334,5
44,2009-07-08 08:00:00.053000,3,242.282863,0.261086,-64.05189,73.12815,2455020.833334,5
45,2009-07-08 08:00:00.053000,4,250.571286,0.328822,-64.05198,73.11628,2455020.833334,5
46,2009-07-08 08:00:00.053000,5,258.749886,0.406946,-64.05214,73.10271,2455020.833334,5
47,2009-07-08 08:00:00.053000,6,265.395619,0.479282,-64.05228,73.09085,2455020.833334,5
48,2009-07-08 08:00:00.053000,7,266.846086,0.496159,-64.05254,73.07730,2455020.833334,5
49,2009-07-08 08:00:00.053000,8,267.494601,0.503852,-64.05263,73.06509,2455020.833334,5
50,2009-07-08 08:00:00.053000,9,261.372291,0.434516,-64.05273,73.05188,2455020.833334,5
51,2009-07-08 08:00:00.053000,10,243.705589,0.271933,-64.05273,73.03831,2455020.833334,5
52,2009-07-08 08:00:00.053000,11,224.282364,0.149224,-64.05283,73.02510,2455020.833334,5
53,2009-07-08 08:00:00.053000,12,198.131200,0.055263,-64.05286,73.01289,2455020.833334,5
54,2009-07-08 08:00:00.053000,13,180.102452,0.023563,-64.05295,72.99934,2455020.833334,5
55,2009-07-08 08:00:00.053000,14,163.170847,0.008917,-64.05303,72.98748,2455020.833334,5
56,2009-07-08 08:00:00.053000,15,162.423308,0.008504,-64.05303,72.97562,2455020.833334,5
57,2009-07-08 08:00:00.053000,16,159.829331,0.007184,-64.05315,72.96239,2455020.833334,5
58,2009-07-08 08:00:00.053000,17,170.422249,0.013844,-64.05321,72.95019,2455020.833334,5
59,2009-07-08 08:00:00.053000,18,166.678125,0.011084,-64.05329,72.93697,2455020.833334,5
,...,...,...,...,...,...,...,...

In [2]:
radfile = '/raid1/maye/coldregions/no_rad_correction/region1/2011020301_radiance.h5'

In [3]:
tstr = fu.get_timestr(radfile)
tstr

'2011020301'

In [68]:
reload(fu)

In [69]:
rdrr = fu.RDRR_Reader(tstr).open()

In [70]:
rdrr.index

<class 'pandas.tseries.index.DatetimeIndex'>
[2011-02-03 01:00:00.080000, ..., 2011-02-03 01:59:59.744000]
Length: 28123, Freq: None, Timezone: None

In [5]:
import os
from diviner import file_utils as fu

In [7]:
rad_file = '/raid1/maye/coldregions/no_rad_correction/region3/2011061009_radiance.h5'
path = os.path.dirname(rad_file)
tstr = fu.get_timestr(rad_file)

In [8]:
rdrr = fu.RDRR_Reader(tstr).open()

In [39]:
for i in range(60):
    if len(rdrr[rdrr.index.second == i]) > 8:
        print i

32

In [44]:
len(rdrr.ix['2011-06-10 09:00:32.216000'])

27873

In [53]:
from datetime import timedelta

In [54]:
timedelta(minutes=59)

datetime.timedelta(0, 3540)

In [56]:
(rdrr.index[-1] - rdrr.index[0]) > timedelta(seconds=40)

False